{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="card mx-auto bg-dark text-light" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">{{joueur.getNomJoueur()}} {{joueur.getPrenomJoueur()}} </h5>
            <p class="card-text">{{joueur.getEquipe()}} </p>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item bg-dark ">Prénom : {{ joueur.getPrenomJoueur() }} </li>
            <li class="list-group-item bg-dark">Nom : {{ joueur.getNomJoueur() }} </li>
            {% if joueur.getEquipe() %}
            <li class="list-group-item">Numéro de maillot : {{ joueur.getNumeroDeMaillot() }} </li>
        </ul>
        <div class="card-body text-center">
            {% else %}
            <p class="card-text">Joue avec aucune équipe National pour le moment donc il ne peut avoir de numéro de maillot
                !</p>
            {% endif %}
                <div class="alert alert-success p-2 mb-2">
                    <a  href="{{ path('joueur_edit', {'id': joueur.id}) }}">Mettre à jour ses informations</a>
                </div>

            <div class="alert alert-info p-2 mb-2">
                <a href="{{ path('joueur_index') }}">Affiche tout les joueurs</a>
            </div>
            <div class="alert alert-danger p-2 m-0 text-primary" >
                {{ include('joueur/_delete_form.html.twig') }}
            </div>
        </div>
    </div>



{% endblock %}
