{% extends 'base.html.twig' %}

{% block title %}Dembele Ibrahim{% endblock %}

{% block body %}
{% for joueur in joueurs %}
<div class="card mx-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{joueur.getNomJoueur()}} {{joueur.getPrenomJoueur()}} </h5>
      {% if joueur.getEquipe() %}
      <p class="card-text">Joue avec l'equipe National du {{joueur.getEquipe()}} </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Numéro de maillot : {{ joueur.getNumeroDeMaillot() }}   </li>
    </ul>
    <div class="card-body text-center">
        {% else %}
        <p class="card-text">Joue avec aucun équipe National pour le moment </p>
        {% endif %}
        <a href="/show_joueur/{{ joueur.getId()}}" class="card-link">Plus d'information sur le joueur</a>
      </div>
    </div>
{%endfor%}

{% endblock %}