{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
<h1>Toutes les equipes</h1>
<a class="btn btn-primary w-25 mx-auto" href="{{ path('equipe_new') }}">Créez votre equipe !</a>

<table class="table text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Equipe</th>
            <th colspan="2" >Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for equipe in equipes %}
        <tr>
            <td>{{ equipe.id }}</td>
            <td>{{ equipe.nomEquipe }}</td>
            <td>
                <a href="{{ path('equipe_show', {'id': equipe.id}) }}">Détails</a>
            </td>
            <td>
                <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr class="my-2">
            <td class="alert alert-info text-center" colspan="3">Aucun Equipe est dans notre BDD</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}